<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit trainer</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>edit <%=trainer.name%></h1>
    <form action="/users/<%=user._id%>/trainers/<%=trainer._id%>/?_method=PUT" method="POST">

    
    <label hidden for="name">Name:</label>
    <input type="text" name="name" id="name" required value="<%=trainer.name%>">
    
    <label hidden for="size">Shoe Size</label>
    <input type="text" name="size" id="size" placeholder="shoe size" required value="<%=trainer.size%>">

    <label hidden for="color">Color</label>
    <input type="text" name="color" id="color"  required value="<%=trainer.color%>">

    <label hidden for="material">Material:</label>
    <input type="text" name="material" id="material"  required value="<%=trainer.material%>">

    <label hidden for="year">Release Year:</label>
    <input type="text" name="year" id="year"  required value="<%=trainer.year%>">

    <label hidden for="type"></label>
    <input type="text" name="type" id="type" required value="<%=trainer.type%>">
    <button type="submit">edit <%= trainer.name%></button>
</form>
</body>
</html>
