<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>app</title>
</head>
<body>
    <%-include('../partials/_profilenav.ejs')%>
    <h1> <%= user.username %>'s Collection</h1>
    
<section">
    <ul class="trainercontain">
        <% trainers.forEach(trainer => { %>
          <div class="trainer"> <li>
                <a href="/users/<%=user._id%>/trainers/<%=trainer._id%>">
                <%= trainer.name %>,
                Size:<%= trainer.size %>
                </a>
            </li></div> 
            <% }) %>
    </ul>
</section>
</body>
</html>